<sidebar class="chat">
  <div class="chat-container">
    <div class="chat-header">
      <div class="chat-promo">
        <span class="chat-promo__heading">
          новый промокод
        </span>
        <div class="chat-counter">
          <div class="chat-counter__unit">
            <div class="chat-counter__item">
              <span>0</span>
            </div>
            <div class="chat-counter__item">
              <span>1</span>
            </div>
          </div>
          <span class="chat-counter__dots">:</span>
          <div class="chat-counter__unit">
            <div class="chat-counter__item">
              <span>0</span>
            </div>
            <div class="chat-counter__item">
              <span>1</span>
            </div>
          </div>
          <span class="chat-counter__dots">:</span>
          <div class="chat-counter__unit">
            <div class="chat-counter__item">
              <span>0</span>
            </div>
            <div class="chat-counter__item">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-tape">
      <ul class="chat-messages messages">
        <li class="messages-item">
          <div class="messages-avatar">
            <img src="img/chat/moderatorImage.png" alt="image">
          </div>
          <div class="messages-aside">
            <div class="messages-header">
              <span class="messages-promo">Новый промокод</span>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                MNGP-AXYL-CZF6-3RVQ
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar">
            <img src="img/chat/moderatorImage.png" alt="image">
          </div>
          <div class="messages-aside">
            <div class="messages-header">
              <span class="messages-promo">Новый промокод</span>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                MNGP-AXYL-CZF6-3RVQ
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar">
            <img src="img/chat/moderatorImage.png" alt="image">
          </div>
          <div class="messages-aside">
            <div class="messages-header">
              <span class="messages-promo">Новый промокод</span>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                MNGP-AXYL-CZF6-3RVQ
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar">
            <img src="img/chat/moderatorImage.png" alt="image">
          </div>
          <div class="messages-aside">
            <div class="messages-header">
              <span class="messages-promo">Новый промокод</span>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                MNGP-AXYL-CZF6-3RVQ
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar">
            <img src="img/chat/moderatorImage.png" alt="image">
          </div>
          <div class="messages-aside">
            <div class="messages-header">
              <span class="messages-promo">Новый промокод</span>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                MNGP-AXYL-CZF6-3RVQ
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar"></div>
          <div class="messages-aside">
            <div class="messages-header">
              <div class="messages-user">
                <div class="messages-user__rank messages-block">
                  <span>Новичок</span>
                </div>
                <span class="messages-user__name">
                  Pavel Kush
                </span>
              </div>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                <img src="img/chat/mockPostMessage1.png" alt="image">
              </li>
            </ul>
          </div>
        </li>
        <li class="messages-item">
          <div class="messages-avatar"></div>
          <div class="messages-aside">
            <div class="messages-header">
              <div class="messages-user">
                <div class="messages-user__rank messages-block">
                  <span>Новичок</span>
                </div>
                <span class="messages-user__name">
                  Pavel Kush
                </span>
              </div>
              <span class="messages-date">
                16:26
              </span>
            </div>
            <ul class="messages-list">
              <li class="messages-post messages-block">
                😎
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="chat-footer">
      <input placeholder="Введите ваше сообщение..." type="text">
    </div>
  </div>
</sidebar>
