<section class="dashboard">
  <div class="dashboard-container">
    <div class="dashboard-body">
      <div class="dashboard-tours tours">
        <div class="tours-flex">
          <div class="tours-icon">
            <img src="img/icons/toursIcon.svg" alt="icon">
          </div>
          <span>Участвуйте в турнирах</span>
        </div>
        <a href="#" class="tours-cta button">
          перейти в турниры
        </a>
      </div>
      <ul class="dashboard-grid">
        <div href="#" class="dashboard-block dashboard-block--span">
          <img class="dashboard-bg" src="img/dashboard/luckyJet_bg.png" alt="">
          <div class="dashboard-content">
            <a href="#" class="dashboard-link button">
              новый режим
            </a>
            <span class="dashboard-title dashboard-title--xl">
              Встречайте <br> LuckyJet
            </span>
          </div>
        </div>
        <div href="#" class="dashboard-block dashboard-block--span">
          <img src="img/dashboard/tgObject.png" class="dashboard-object" alt="">
          <div class="dashboard-content">
            <div class="dashboard-nested">
              <span class="dashboard-title dashboard-title--xl">
                Подпишись на телеграмм и
                забирай подарки
              </span>
              <p class="dashboard-description">В нашем телеграм канале вы найдете самые крутые бонусы</p>
            </div>
            <a href="#" class="dashboard-link dashboard-link--light">
              подписаться
            </a>
          </div>
        </div>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/crazyShot_bg.png" alt="">
          <span class="dashboard-title">
            crazy <br> shot
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/x100_bg.png" alt="">
          <span class="dashboard-title">
            x100
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/x30_bg.png" alt="">
          <span class="dashboard-title">
            x30
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/dice_bg.png" alt="">
          <span class="dashboard-title">
            dice
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/mines_bg.png" alt="">
          <span class="dashboard-title">
            mines
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/crash_bg.png" alt="">
          <span class="dashboard-title">
            crash
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/coinflip_bg.png" alt="">
          <span class="dashboard-title">
            coinflip
          </span>
        </a>
        <a href="#" class="dashboard-block">
          <img class="dashboard-bg" src="img/dashboard/keno_bg.png" alt="">
          <span class="dashboard-title">
            keno
          </span>
        </a>
      </ul>
    </div>
  </div>
</section>
