<section class="history">
  <div class="history-container">
    <div class="history-body">
      <div class="history-divider">
        <img src="img/divider.png" alt="divider">
      </div>
      <div class="table">
        <div class="table-header">
          <div class="table-row">
            <span>Игра</span>
            <span>Игрок</span>
            <span>Ставка</span>
            <span>Коэфф.</span>
            <span>Выигрыш</span>
          </div>
        </div>
        <div class="table-body">
          <ul class="table-rows">
            <li class="table-row">
              <span>Coin Flip</span>
              <div class="table-flex">
                <div class="table-user">
                  <img src="img/pavelImage.png" alt="image">
                </div>
                <span>Pavel Kozichev</span>
              </div>
              <span>101</span>
              <div class="table-coeff">
                <span>0.00x</span>
                <span class="table-coeff_back">0.00x</span>
              </div>
              <span>0</span>
            </li>
            <li class="table-row">
              <span>Coin Flip</span>
              <div class="table-flex">
                <div class="table-user">
                  <img src="img/pavelImage.png" alt="image">
                </div>
                <span>Pavel Kozichev</span>
              </div>
              <span>101</span>
              <div class="table-coeff">
                <span>0.00x</span>
                <span class="table-coeff_back">0.00x</span>
              </div>
              <span>0</span>
            </li>
            <li class="table-row">
              <span>Coin Flip</span>
              <div class="table-flex">
                <div class="table-user">
                  <img src="img/pavelImage.png" alt="image">
                </div>
                <span>Pavel Kozichev</span>
              </div>
              <span>101</span>
              <div class="table-coeff">
                <span>0.00x</span>
                <span class="table-coeff_back">0.00x</span>
              </div>
              <span>0</span>
            </li>
            <li class="table-row">
              <span>Coin Flip</span>
              <div class="table-flex">
                <div class="table-user">
                  <img src="img/pavelImage.png" alt="image">
                </div>
                <span>Pavel Kozichev</span>
              </div>
              <span>101</span>
              <div class="table-coeff">
                <span>0.00x</span>
                <span class="table-coeff_back">0.00x</span>
              </div>
              <span>0</span>
            </li>
            <li class="table-row">
              <span>Coin Flip</span>
              <div class="table-flex">
                <div class="table-user">
                  <img src="img/pavelImage.png" alt="image">
                </div>
                <span>Pavel Kozichev</span>
              </div>
              <span>101</span>
              <div class="table-coeff">
                <span>0.00x</span>
                <span class="table-coeff_back">0.00x</span>
              </div>
              <span>0</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
