<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <a href="#" class="header-logo">
        <img src="../img/logo.webp" alt="logo">
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#" class="nav-link">наши услуги</a></li>
          <li class="nav-item"><a href="#" class="nav-link">кейсы</a></li>
          <li class="nav-item"><a href="#" class="nav-link">о нас</a></li>
          <li class="nav-item"><a href="#" class="nav-link">сми</a></li>
          <li class="nav-item"><a href="#" class="nav-link">контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
